.cluster-container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 1.5em;
}

.cluster {
    width: 45%;
    margin: 0.5em;
}

.fab {
    margin: 0px;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
};
