image=videoamp/spark:%IMAGE_TAG%

docker pull $image

until nc -z %SPARK_MASTER_IP% 8080;
do
  echo "Waiting for Spark master..."
  sleep 1
done

docker run %SCRATCH_VOLUMES% -dt --ulimit nofile=100000:100000 --net=host \
  -e "SPARK_LOCAL_DIRS=%SPARK_LOCAL_DIRS%" \
  -e "SPARK_MASTER_IP=%SPARK_MASTER_IP%" \
  -e "SPARK_WORKER_MEMORY=%WORKER_MEMORY%" \
  $image /usr/local/sbin/boot-worker.sh
